.dashboard-container {  
  display: flex;
  flex-direction: column;
  max-width: 1200px;  
  margin: 0 auto;  
  padding: 20px;  
  font-family: 'poppins', sans-serif;  
  background-color: #f7f7f7;  
  border-radius: 10px;  
}  

.hero-section {  
  background-color: #fff;  
  padding: 20px;  
  border-radius: 10px;  
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
  margin-bottom: 20px;  
}  

.hero-title {  
  font-size: 2rem;  
  margin-bottom: 10px;  
  text-align: center;  
}  

.hero-subtitle {  
  font-size: 1.2rem;  
  color: #fdfdfd;  
  text-align: center;  
}  

.dashboard-content {  
  display: flex;  
  flex-direction: column;
  justify-content: space-between;  
  align-items: center;
  gap: 20px;  
}  

.dashboard-stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;  
  width: 100%;  
}  

.stat-card {  
  background-color: #fff;  
  padding: 20px;  
  border-radius: 10px;  
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
  text-align: center;  
}  

.stat-value {  
  font-size: 3rem;  
  font-weight: bold;  
  color: #333;  
  margin-bottom: 10px;  
}  

.stat-description {  
  font-size: 1rem;  
  color: #666;  
}  

.dashboard-actions {  
  width: 30%;  
  display: flex;  
  flex-direction: column;  
  gap: 15px;  
}  

.dashboard-button {  
  background-color: #007bff; /* Blue */  
  color: #fff;  
  border: none;  
  padding: 12px 20px;  
  border-radius: 10px;  
  cursor: pointer;  
  font-size: 1rem;  
  transition: background-color 0.3s ease;  
}  

.dashboard-button:hover {  
  background-color: #0069d9; /* Darker blue on hover */  
}